<li class="nav-item">
                    {{#if logged_in}}
                    <a class="nav-link" id="logout" href="/">Logout</a>
                    {{else}}
                    <a class="nav-link" href="/login">Login</a>
                    {{/if}}
                </li>
            </ul>
        </div>
    </nav>


<div class="container">
    <div class="row">
        <div class="col-6">



            {{#each posts as |post|}}
            <div class="my-3 ">
                <div class="card">
                    <div class="card-header">
                        {{post.title}}
                    </div>
                    <div class="card-body">

                        <p>{{post.message}}</p>
                        <footer class="blockquote-footer"><cite title="Source Title">{{post.user.user_name}}</cite>
                        </footer>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
        <div class="col-1">
        </div>
        <div class="col-5">

        </div>
    </div>
</div>