<div class="container">
        <div class="row">
            <div class="col-5">
                <form>
                    <fieldset>
                        <legend>Sign In</legend>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="login-email"
                                aria-describedby="emailHelp">
                        </div>
                        
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="login-password">
                        </div>
                        <button type="submit" class="btn btn-primary" id="login-btn">Log In</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-2">
            </div>
            <div class="col-5">
                <form>
                    <fieldset>
                        <legend>Not a member? Sign up!</legend>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="newEmail"
                                aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Screen Name</label>
                            <input type="text" class="form-control" id="newUserName">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Re-enter Password</label>
                            <input type="password" class="form-control" id="newPassword2">
                        </div>
                        <button type="submit" class="btn btn-primary" id="sign-up-btn">Sign Up</button>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
    {{!-- Script for logging out, but only if user is logged in. --}}

    <script src="./js/login.js"></script>
    